
Report/BUSCO/summaries-denovo/busco_figure.R
Report/BUSCO/summaries-denovo/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries-refbased/busco_figure.R
Report/BUSCO/summaries-refbased/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO.tsv
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/denovo-rnaspades/.DS_Store
Report/denovo-rnaspades/Report/CFF1.met.txt
Report/denovo-rnaspades/Report/CFF1.summary.txt
Report/denovo-rnaspades/Report/CFF2.met.txt
Report/denovo-rnaspades/Report/CFF2.summary.txt
Report/denovo-rnaspades/Report/CFF3.met.txt
Report/denovo-rnaspades/Report/CFF3.summary.txt
Report/denovo-rnaspades/Report/CRF2.met.txt
Report/denovo-rnaspades/Report/CRF2.summary.txt
Report/denovo-rnaspades/Report/CRF3.met.txt
Report/denovo-rnaspades/Report/CRF3.summary.txt
Report/denovo-rnaspades/Report/CRR1.met.txt
Report/denovo-rnaspades/Report/CRR1.summary.txt
Report/denovo-rnaspades/Report/CRR2.met.txt
Report/denovo-rnaspades/Report/CRR2.summary.txt
Report/denovo-rnaspades/Report/CRR3.met.txt
Report/denovo-rnaspades/Report/CRR3.summary.txt
Report/denovo-rnaspades/Report/multiqc_data/multiqc.log
Report/denovo-rnaspades/Report/multiqc_data/multiqc_bowtie2.txt
Report/denovo-rnaspades/Report/multiqc_data/multiqc_data.json
Report/denovo-rnaspades/Report/multiqc_data/multiqc_general_stats.txt
Report/denovo-rnaspades/Report/multiqc_data/multiqc_sources.txt
Report/denovo-rnaspades/Report/multiqc_report.html
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
