
Report/BUSCO/summaries-denovo/busco_figure.R
Report/BUSCO/summaries-denovo/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries-refbased/busco_figure.R
Report/BUSCO/summaries-refbased/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
