
Report/BUSCO/summaries-denovo/busco_figure.R
Report/BUSCO/summaries-denovo/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries-denovo/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries-refbased/busco_figure.R
Report/BUSCO/summaries-refbased/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries-refbased/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/BUSCO.tsv
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/denovo-rnaspades/.DS_Store
Report/denovo-rnaspades/Report/CFF1.met.txt
Report/denovo-rnaspades/Report/CFF1.summary.txt
Report/denovo-rnaspades/Report/CFF2.met.txt
Report/denovo-rnaspades/Report/CFF2.summary.txt
Report/denovo-rnaspades/Report/CFF3.met.txt
Report/denovo-rnaspades/Report/CFF3.summary.txt
Report/denovo-rnaspades/Report/CRF2.met.txt
Report/denovo-rnaspades/Report/CRF2.summary.txt
Report/denovo-rnaspades/Report/CRF3.met.txt
Report/denovo-rnaspades/Report/CRF3.summary.txt
Report/denovo-rnaspades/Report/CRR1.met.txt
Report/denovo-rnaspades/Report/CRR1.summary.txt
Report/denovo-rnaspades/Report/CRR2.met.txt
Report/denovo-rnaspades/Report/CRR2.summary.txt
Report/denovo-rnaspades/Report/CRR3.met.txt
Report/denovo-rnaspades/Report/CRR3.summary.txt
Report/denovo-rnaspades/Report/multiqc_data/multiqc.log
Report/denovo-rnaspades/Report/multiqc_data/multiqc_bowtie2.txt
Report/denovo-rnaspades/Report/multiqc_data/multiqc_data.json
Report/denovo-rnaspades/Report/multiqc_data/multiqc_general_stats.txt
Report/denovo-rnaspades/Report/multiqc_data/multiqc_sources.txt
Report/denovo-rnaspades/Report/multiqc_report.html
Report/BUSCO/summaries/busco_figure.R
Report/BUSCO/summaries/short_summary_transcripts_bacteria_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_eukaryota_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mammalia_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_metazoa_odb10.txt
Report/BUSCO/summaries/short_summary_transcripts_mollusca_odb10.txt
Report/Report/multiqc_report.html
Report/Report/multiqc_data/multiqc_sources.txt
Report/Report/multiqc_data/multiqc_general_stats.txt
Report/Report/multiqc_data/multiqc_data.json
Report/Report/multiqc_data/multiqc_bowtie2.txt
Report/Report/multiqc_data/multiqc.log
Report/Report/HCRR1.summary.txt
Report/Report/HCFF3.summary.txt
Report/Report/CRR3.summary.txt
Report/Report/CRR2.summary.txt
Report/Report/CRR1.summary.txt
Report/Report/CRF3.summary.txt
Report/Report/CRF2.summary.txt
Report/Report/CFF3.summary.txt
Report/Report/CFF2.summary.txt
Report/Report/CFF1.summary.txt
Report/multiqc_report.html
Report/multiqc_data/multiqc_sources.txt
Report/multiqc_data/multiqc_general_stats.txt
Report/multiqc_data/multiqc_data.json
Report/multiqc_data/multiqc_bowtie2.txt
Report/multiqc_data/multiqc.log
Report/metrics-methods.png
Report/HCRR1.summary.txt
Report/HCFF3.summary.txt
Report/denovo-trinity/summaries/short_summary_Trinity_mollusca_odb10.txt
Report/denovo-trinity/summaries/short_summary_Trinity_metazoa_odb10.txt
Report/denovo-trinity/summaries/short_summary_Trinity_mammalia_odb10.txt
Report/denovo-trinity/summaries/short_summary_Trinity_eukaryota_odb10.txt
Report/denovo-trinity/summaries/short_summary_Trinity_bacteria_odb10.txt
Report/denovo-trinity/summaries/busco_figure.R
Report/denovo-trinity/Report/multiqc_report.html
Report/denovo-trinity/Report/multiqc_data/multiqc_sources.txt
Report/denovo-trinity/Report/multiqc_data/multiqc_general_stats.txt
Report/denovo-trinity/Report/multiqc_data/multiqc_data.json
Report/denovo-trinity/Report/multiqc_data/multiqc_bowtie2.txt
Report/denovo-trinity/Report/multiqc_data/multiqc.log
Report/denovo-trinity/Report/CRR3.summary.txt
Report/denovo-trinity/Report/CRR3.met.txt
Report/denovo-trinity/Report/CRR2.summary.txt
Report/denovo-trinity/Report/CRR2.met.txt
Report/denovo-trinity/Report/CRR1.summary.txt
Report/denovo-trinity/Report/CRR1.met.txt
Report/denovo-trinity/Report/CRF3.summary.txt
Report/denovo-trinity/Report/CRF3.met.txt
Report/denovo-trinity/Report/CRF2.summary.txt
Report/denovo-trinity/Report/CRF2.met.txt
Report/denovo-trinity/Report/CFF3.summary.txt
Report/denovo-trinity/Report/CFF3.met.txt
Report/denovo-trinity/Report/CFF2.summary.txt
Report/denovo-trinity/Report/CFF2.met.txt
Report/denovo-trinity/Report/CFF1.summary.txt
Report/denovo-trinity/Report/CFF1.met.txt
Report/denovo-trinity/.DS_Store
Report/denovo-rnaspades/summaries/short_summary_rnaspades_mollusca_odb10.txt
Report/denovo-rnaspades/summaries/short_summary_rnaspades_metazoa_odb10.txt
Report/denovo-rnaspades/summaries/short_summary_rnaspades_mammalia_odb10.txt
Report/denovo-rnaspades/summaries/short_summary_rnaspades_eukaryota_odb10.txt
Report/denovo-rnaspades/summaries/short_summary_rnaspades_bacteria_odb10.txt
Report/denovo-rnaspades/summaries/busco_figure.R
Report/CRR3.summary.txt
Report/CRR2.summary.txt
Report/CRR1.summary.txt
Report/CRF3.summary.txt
Report/CRF2.summary.txt
Report/CFF3.summary.txt
Report/CFF2.summary.txt
Report/CFF1.summary.txt
Report/BUSCO.bkp.tsv
Report/BUSCO-methods.png
Report/alignment-methods.png
Report/03.quantification/trinity-hisat-alignment/feature_counts.txt.summary
Report/03.quantification/trinity-hisat-alignment/feature_counts.txt
Report/03.quantification/rnaspades-hisat-alignment/feature_counts.txt.summary
Report/03.quantification/rnaspades-hisat-alignment/feature_counts.txt
Report/03.quantification/refbased/feature_counts.txt
Report/02.Assembly-alignment.tsv
Report/01.Contig-metrics.tsv
Report/.DS_Store
.DS_Store
Report/multiqc_report.html
Report/multiqc_data/multiqc_sources.txt
Report/multiqc_data/multiqc_general_stats.txt
Report/multiqc_data/multiqc_data.json
Report/multiqc_data/multiqc_bowtie2.txt
Report/multiqc_data/multiqc.log
Report/HCRR1.summary.txt
Report/HCFF3.summary.txt
Report/CRR3.summary.txt
Report/CRR2.summary.txt
Report/CRR1.summary.txt
Report/CRF3.summary.txt
Report/CRF2.summary.txt
Report/CFF3.summary.txt
Report/CFF2.summary.txt
Report/CFF1.summary.txt
